body {
  background-color: orange;
  text-align: center;
}
h1 {
  color: blue;
  padding-top: 25px;
}

p {
  color: blue;
}
 label{
  color: orange;
  font-size: 20px;
  font-weight: bold;
 }

 .btn{
  background-color: blue;
  color: orange;
  font-weight: bolder;
  border: 4px solid black;
  transition: 2s;
 }

 .btn:hover{
  background-color: black;
  color: orange;
  font-weight: bolder;
  border: 4px solid blue;
  transform: scale(1.2);
  transition: 1s;
 }

form{
  background-color: blue;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 4px solid black;
  border-radius: 25px;
}
 

.result{
  background-color: blue;
  padding: 30px;
  border: 4px solid black;
  font-size: 50px;
  border-radius: 25px;
color: orange;
} 